################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cppLib/Debug/cppLib.tlog
/cppLib/x64/Debug/cppLib.tlog
